<!DOCTYPE html>
<title>Login</title>
<head>
<% include ./partial/header %>
</head>
<body>
  <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
      <div class="mdl-layout__header-row">
        <a href="/"><span class="mdl-layout-title"><button class="mdl-button mdl-js-button">
          <%=appname%>
        </button></span></a>
      </div>
    </header>
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
    <div class="demo-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <h3>Enter your Registered Email Address</h3>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col"> <form action="/reset-password" method="GET">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text"  name="email" id="email">
              <label class="mdl-textfield__label" for="email">Email Address</label>
            </div>
            <input class="mdl-textfield__input" type="hidden" name="_csrf" value="<%=csrf%>">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
            Reset Password
            </button> <a href="/auth/facebook" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
              Login Using Facebook
            </a>
          </form></div>
        </div>

      </div>
    </div>
    <% include ./partial/footer %>
    </main>
  </div>
</body>
</html>
