<!DOCTYPE html>
<title>
</title>
<head>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/button.css">
	<link rel="stylesheet" type="text/css" href="css/semantic.css">
	<script type="application/javascript">
  
    </script>
	
</head>
<body>
<div class="ui inverted menu">
  <a class="item" href="home.html">
     Home
  </a>
  <a class="item">
     Projects
  </a>
  <a class="item">
     Support
  </a>
  <a class="item">
     Downloads
  </a>
  <a class="active item" href="choice.html">
     Login/SignUp
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<form class="ui two column middle aligned relaxed grid basic segment" action="/login" method="post">
  <div class="column">
    <div class="ui form segment">
      <div class="field">
        <label>Email</label>
        <div class="ui left labeled icon input">
          <input type="text" placeholder="email" name="email">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left labeled icon input">
          <input type="password" placeholder="Password" name="password">
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      <button class="ui blue submit button" type="submit">Login</button>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
  <div class="center aligned column">
<a href="signup.html">
    <div class="huge green ui labeled icon button">
      <i class="signup icon"></i>

      Sign Up
	
    </div>
</a>
  </div>
</form>
    THis is login pAge

</body>