
<h1>Create a new app</h1>
<br><form action="/createapp" method="post">  
Naem of the App: <input type="text" name="a_name">
Do you want Authentication build-in <input type="radio" name="auth">
<input type="submit">
</form>